name: Create Release for an Action

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version number (e.g. 1.1 / 2.21)"
        required: true
        type: string
      action:
        description: "Action folder path (e.g. plugins-release/build-mc)"
        required: true
        type: string

jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Echo Action Name And Version
        run: |
          echo "Action Name: ${{ github.event.inputs.action }}"
          echo "Version: ${{ github.event.inputs.version }}"

      - name: Create GitHub Release for the action
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.event.inputs.version }}-${{ github.event.inputs.action }}
          release_name: Release ${{ github.event.inputs.version }} for ${{ github.event.inputs.action }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
